body {
    background-color: #484848; /* For browsers that do not support gradients */
    background-image: linear-gradient(0.33turn,#101010 30%, #222222 65%, black);
    margin: 0;
    height: 100vh;
    width: 100vw;
}

/*
    vv Main Content withing Page vv
*/

.textboxes {
    position: fixed;
    top: 30vh;
    left: 5vw;

}

h1, h2 {
    color: white;
    font: pythagoras;
    font-style: bold;
    max-width: 600px;
    text-shadow: 4px 4px 7px #484848;
}

h1.main_header {
    font-size: xx-large;
    letter-spacing: 2px;
    width: fit-content;
}

h2 {
    word-spacing: 2px;
    width: 600px;
}

h2.details {
    font-size: large;
    letter-spacing: 2px;
    width: max-content;
}

h2.description {
    font-style: normal;
    font-size: small;
    letter-spacing: 1px;
    max-width: 600px;
}

/*
    vv Buttons vv
*/

button {
    cursor: pointer;
}

button.random:hover {
    background-color: darkgreen;
    right: 300px;
}

a {
    padding: 10px 10px;
}

a.x {
    background-color: #6A6A6A;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
    position: fixed;
    width: 75px; 
    height: 25px;
    text-align: center;
    text-decoration: solid;
}

p.menu {
    font-size: 3rem;
    color: white;
    margin: 0;
    position: fixed;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}

p.menu:hover{
    transform:scaleX(150px);
    cursor: pointer;
}

a.about {
    right: 300px;
} 

a.signin {
    right: 10px;
}

a.repo {
    right: 150px;
}

a.about:hover {
    background-color: darkgreen;
}

a.signin:hover {
    background-color: darkgreen;
}

button {
    position: fixed;
    top: 100px;
    right: 100px;
}

/*
    vv Image Links vv
*/

.links {
    width: 25px;
    height: 25px;
    position: fixed;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    cursor: pointer;
}

.linked-in {
    bottom: 65px;
    right: 65px;
}

.github {
    bottom: 65px;
    right: 100px;
}

.youtube {
    bottom: 65px;
    right: 135px;
}

.twitter {
    bottom: 100px;
    right: 65px;
}

/*
.google {
    right: 100px;
    bottom: 100px;
    width: 60px;
}
.googles {
    right: 65px;
    bottom: 135px;
    width: 95px;
}

.test {
    background-color: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    position: fixed;
    bottom: 100px;
    left: 100px;
    background-color: red;
}

.James {
    max-width: 10px;
    position: fixed;
    bottom: 100px;
}
*/

/*
    vv Bouncy Ball vv
*/

.ball {
    background-color: red;
    height: 30px;
    width: 30px;
    border: #202020 2px solid;
    border-radius: 20px;
    box-shadow: #202020;
}

.ball-containter {
    height: 200px;
    width: 200px;
    position: fixed;
    bottom: 300px;
    right: 400px;
    transition: transform 4000ms cubic-bezier(.05,.33,.45,.95);
}

.ball-containter:hover {
    transform: translatey(-250%);
}

/*
    vv Alien vv
*/

#alien {
    position: fixed;
    top: 1700px;
    left: 50px;
}

#alien-head {
    background-color: lime;
    border: 1px black solid;
    border-radius: 36px;
    height: 50px;
    width: 75px;
    rotate: 10deg;
}

.alien-eye {
    background-color: black;
    width: 10px;
    height: 10px;
    border: 1px black solid;
    border-radius: 10px;
    position: fixed;
}

.left-eye {
    top: 1713px;
    left: 16px;
}

.right-eye {
    top: 1719px;
    left: 50px;
}